<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="Dobbscoin Wallet"
        android:roundIcon="@mipmap/ic_launcher_round">

        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".SecurityActivity"
            android:exported="false" />

        <activity
            android:name=".TransactionDetailsActivity"
            android:exported="false" />

        <activity
            android:name=".SettingsActivity"
            android:exported="false" />

        <activity
            android:name=".ExportPrivateKeyActivity"
            android:exported="false" />

        <activity
            android:name=".AboutActivity"
            android:exported="false" />

    </application>

</manifest>
